<div class="page-header">
  <h1>
    Investments
    <a href="/investments/new" class="btn btn-lg btn-success">New Investment</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "investments_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
  <%= f.label :current_value, "Current value" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :current_value_gteq, :class => "form-control", :placeholder => "Current value greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :current_value_lteq, :class => "form-control", :placeholder => "Current value less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :real_estate_eq, "Real estate" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :real_estate_eq, "1", checked: ((params[:q] && params[:q][:real_estate_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :real_estate_eq, "0", checked: ((params[:q] && params[:q][:real_estate_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :real_estate_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
    <%= f.label :industry_cont, "Industry contains" %>
    <%= f.text_field :industry_cont, :class => "form-control", :placeholder => "Industry contains" %>
  </div>

<div class="form-group">
    <%= f.label :geography_cont, "Geography contains" %>
    <%= f.text_field :geography_cont, :class => "form-control", :placeholder => "Geography contains" %>
  </div>

<div class="form-group">
    <%= f.label :asset_type_cont, "Asset type contains" %>
    <%= f.text_field :asset_type_cont, :class => "form-control", :placeholder => "Asset type contains" %>
  </div>

<div class="form-group">
    <%= f.label :sponsor_cont, "Sponsor contains" %>
    <%= f.text_field :sponsor_cont, :class => "form-control", :placeholder => "Sponsor contains" %>
  </div>

<div class="form-group">
    <%= f.label :entity_cont, "Entity contains" %>
    <%= f.text_field :entity_cont, :class => "form-control", :placeholder => "Entity contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/investments" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#investments_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Entity</th>
        <th>Sponsor</th>
        <th>Asset type</th>
        <th>Geography</th>
        <th>Industry</th>
        <th>Real estate</th>
        <th>Current value</th>
        <th>Actions</th>
      </tr>

      <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.name %></td>
        <td><%= investment.entity %></td>
        <td><%= investment.sponsor %></td>
        <td><%= investment.asset_type %></td>
        <td><%= investment.geography %></td>
        <td><%= investment.industry %></td>
        <td><%= investment.real_estate %></td>
        <td><%= investment.current_value %></td>
        <td>
          <a href="/investments/<%= investment.id %>" class="btn btn-primary">Show</a>
          <a href="/investments/<%= investment.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_investment/<%= investment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @investments, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
